* {
    margin: 0px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    width: 100%;
    margin-bottom: 1em;
    display: inline-flex;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: 0px;
    border: solid 1px yellow;
}

h1 {
    font-size: 4em;
}

ul {
    list-style: none;
}

li {
    display: inline-flex;
    font-size: 2em;
    border: solid 1px red;
    padding: 1em;
}

.featured {
    border: solid rgb(10, 121, 14) 1px;
}
.featured img{
    max-width:100%;
}

.row1 {
    border: solid 1px purple;
    width: 100%;
}

.row1 img{
    max-width: 49%;
    max-height: 500px;
}

@media screen and (max-width: 1200px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    li {
        font-size: medium;
    }

    main {
        flex-direction: column;
        margin: 1em;
    }

    @media screen and (max-width: 550px) {
        header {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            padding-left: 0;
        }
    
        h1 {
            font-size: 2em;
        }
        li {
            font-size: medium;
        
        }
    
        main {
            flex-direction: column;
            margin: 1em;
        }

        .row1 {
            flex-direction: column;
        }
        .row1 img{
            width: 100%;
          height: 100%;
        }
        .featured img{
            height: 100%;
        }
    }
}